body{
	color: #444;
	background: #f4f4f4;
	font-family: "Lato", sans-serif;
	font-size: 15px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    margin-top: 0;
}

p{
	font-size: 15px;
	line-height: 25px;
	padding-top: 0;
	margin-top: 0;
}

.bgg{
	background-image: linear-gradient(to right, #2B32B2 ,  #1488CC);
}
.single-blog{
	background: #fff;
	margin-bottom: 50px;
	-webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
	box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
}
.post-content{
	margin-bottom: 35px;
}

.continue-reading a{
	border: 1px solid blue;
	color: linear-gradient(to right, #1488CC , #2B32B2);
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 10px 18px;
	text-decoration: none;
	transition: all 0.2s;
}

.continue-reading a:hover{
	border: 1px solid white;
	color: white;
	background-image: linear-gradient(to right, #1488CC , #2B32B2);
}

.post-footer{
	overflow: hidden;
	border-top: 1px solid #e2e2e2;
	margin-top: 40px;
	padding-top: 20px;
	line-height: 1;
	margin-bottom: 0;
	padding-bottom: 0;
}

.author-meta{
	color: #777;
font-style: italic;
font-size: 14px;
margin-left: 0;
}

.pull-left{
	float: left !important;
}

.pull-right{
	float: right !important;
	color: #777;
	font-style: italic;
	font-size: 14px;
}

.sidebar{
	background-color: #fff;
padding: 35px 30px;
margin-bottom: 40px;
-webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
}

.sidebar-title{
	color: #444;
	font-size: 18px;
	letter-spacing: 0.5px;
	margin-bottom: 28px;
}

.isian{
	width: 100%;
    margin-bottom: 14px;
    color: black;
    border: 1px solid #eeeeee;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    font-style: italic;
    border-radius: 0;
    background: #fafafa;
}

.isian:focus{
	border: 1px solid blue;
}

.btn-login{
	width: 100%;
	background-image: linear-gradient(to right, #1488CC , #2B32B2);
	color: #fff;
	border-radius: 0;
	-webkit-transition: all 0.33s;
	transition: all 0.33s;
	letter-spacing: 1px;
	font-size: 12px;
	padding: 9px 0;
	font-family: "Oswald", sans-serif;
	border:0;
}


.media-left{
	display: table-cell;
    vertical-align: top;
}

.latest{
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 15px;
	padding-left: 0;
	padding-top: 15px;
}

.title-latest{
	color: black;
    font-size: 20px;
    letter-spacing: 0;
    margin-bottom: 3px;
}

.date-latest{
	color: #777;
font-style: italic;
font-size: 14px;
margin-left: 0;
}

.footer{
	background: #fff;
	font-size: 14px;
	padding: 20px;
	-webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
	box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
}